body {
  font-family: "Lato", sans-serif;
  background-color: #d4d4d4;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-size: 15px;
}
.outer-wrap {
  width: 300px;
  height: 60vh;
  margin: 10px;
  background-color: #fefefe;
  border: #000 solid 20px;
  border-top: #000 solid 40px;
  border-bottom: #000 solid 60px;
  border-radius: 20px;
}
.inner-wrap {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  background: url(img/bg/memphis-light.png);
  #header {
    background-color: rgb(44, 44, 44);
    padding: 5px 10px;
    height: 8%;
    display: flex;
    align-items: center;
    .profile-img {
      width: 15%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 100%;
        width: auto;
        border-radius: 50%;
      }
    }
    .chat-ttl {
      width: 70%;
      color: #fff;
      margin: 0 10px;
      h1 {
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
    #message-sound {
      width: 15%;
      color: #fff;
      font-size: 1.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  #message-output {
    height: 72%;
    padding: 10px 15px;
    overflow: scroll;
    .message-bubble {
      width: 70%;
      border-radius: 10px;
      padding: 8px 10px;
      margin: 10px;
      box-shadow: 2px 5px 8px 1px rgba(0, 0, 0, 0.5);
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      .time {
        font-size: 0.6rem;
        width: 100%;
        text-align: right;
      }
    }
    .message-robot {
      background-color: #b37f9a;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: -11px;
        width: 0;
        height: 0;
        border-top: 20px solid #b37f9a;
        border-left: 20px solid transparent;
      }
    }
    .message-client {
      background-color: #a4be94;
      margin-left: auto;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: -11px;
        width: 0;
        height: 0;
        border-top: 20px solid #a4be94;
        border-right: 20px solid transparent;
      }
    }
  }
  .message-input {
    background-color: rgb(44, 44, 44);
    height: 20%;
    padding: 15px 10px;
    textarea {
      width: 100%;
      height: 100%;
      border: 0;
      padding: 10px;
      border-radius: 5px;
      box-sizing: border-box;
      resize: none;
      &:focus {
        outline: 0;
      }
    }
  }
}

$breakpoint-tablet: 600px;
@media (max-width: $breakpoint-tablet) {
  body {
    font-size: 20px;
  }
  .outer-wrap {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
  }
  .inner-wrap {
    #header {
      height: 10%;
      .profile-img {
        img {
          height: 90%;
        }
      }
      .chat-ttl {
        h1 {
          font-size: 1.6rem;
        }
      }
    }
    #message-output {
      height: 70%;
    }
    .message-input {
      height: 20%;
      padding: 20px;
    }
  }
}
